<form class="formTexture">
    <!-- Réservation -->
    <div class="margin15U15D">
      <span class="accent-title" translate>
        Réservation
      </span>
  </div>
  <div style="height: 8rem;" fxLayout fxLayoutAlign="space-between">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex=47>
       <div class="margin20U20D">
          <span class="light-title" translate>Officiant de cérémonie</span>
        </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                  <span translate>Durée de la mission</span>
              </div>
              <div fxLayout fxLayoutAlign="center center">
                  <button mat-mini-fab
                  (click)='numberInputChangeValue("officiant","decrement", "durreDeLaMission", 1, companyDescriptionInfo?.criteres?.officiantCeremonie_dureeMin)'
                      class='margin-right number-control-btn  margin-left'
                      [class.number-control-btn-remove]="bookingObject.officiant.durreDeLaMission == companyDescriptionInfo.criteres.officiantCeremonie_dureeMin"
                      [disabled]="bookingObject.officiant.durreDeLaMission == companyDescriptionInfo.criteres.officiantCeremonie_dureeMin"
                      >
                      <mat-icon [ngStyle]="{'color' : bookingObject.officiant.durreDeLaMission == companyDescriptionInfo.criteres.officiantCeremonie_dureeMin ? '#999999' : '#F17082'}" class='position-in-center'>remove</mat-icon>
                  </button>
                    <span matSuffix> {{bookingObject.officiant.durreDeLaMission}}h </span>
                  <button mat-mini-fab class='margin-left number-control-btn'
                  (click)='numberInputChangeValue("officiant","increment", "durreDeLaMission", 1)'>
                      <mat-icon color='primary' class='position-in-center'>add</mat-icon>
                  </button>
              </div>
          </div>
      </div>
  </div>
  <mat-divider class="margin-bottom" style="margin-top: 1em;"></mat-divider>
    <!--fin Réservation-->

    <!-- services -->
    <div *ngIf="!!services?.length" class="margin40T">
        <span class="accent-title" translate>services proposés</span>
    </div>
    <div *ngFor="let service of services;let i = index;let lastservice = last"
        class="margin10U10D">
        <div *ngIf="i<=1 || showmoreServices" class="inline-container-4 margin30UD0LR">
          <div>
            <span translate class="boldText">{{service.name | lowercase | translate | capitalizeFirstLetter}}</span>
            <br />
            <span translate class="greyText">Obtenir ce service
              </span>
          </div>
          <mat-slide-toggle color="primary" [checked]='service.checked'
            (change)='toggleChangeService($event.checked,i)'>
          </mat-slide-toggle>
        </div>
        <button mat-button color='primary' class="padding0"
          *ngIf="!showmoreServices && i==1 && services.length > 1"
          (click)="showmoreServices = true" ng-reflect-color="primary">
          <span translate class="bold18">Afficher plus d'options</span>
          <mat-icon color='primary' class="margin10L">keyboard_arrow_down</mat-icon>
        </button>
        <button mat-button color='primary' class="padding0" *ngIf="showmoreServices && i>1 && lastservice"
          (click)="showmoreServices = false" ng-reflect-color="primary">
          <span translate class="bold18">Afficher moins d'options</span>
          <mat-icon color='primary' class="margin10L">keyboard_arrow_up</mat-icon>
        </button>
        <mat-divider *ngIf="i <= 1 || showmoreServices" class="margin1rem"></mat-divider>
      </div>
    <!--fin services -->

    <!-- conseil -->
    <div *ngIf="companyDescriptionInfo?.criteres?.officiantCeremonie_conseilsPersonnalises" class="margin40U40D">
      <span class="accent-title" translate>Rendez-vous conseils</span>
    </div>
    <div *ngIf="companyDescriptionInfo?.criteres?.officiantCeremonie_conseilsPersonnalises" class="inline-container-4 margin-bottom">
      <div>
       <span translate class="boldText">{{'Rendez-vous conseils' | lowercase | translate | capitalizeFirstLetter}}</span>
        <br>
        <span translate class="greyText">{{'Obtenir le service de conseils personnalisés' | lowercase | translate | capitalizeFirstLetter}}</span>
      </div>
      <mat-slide-toggle color="primary" [checked]='bookingObject?.officiant?.conseilsPersonnalises'
      (change)='toggleChange("conseilsPersonnalises", $event.checked)'></mat-slide-toggle>
   </div>
    <mat-divider *ngIf="companyDescriptionInfo?.criteres?.officiantCeremonie_conseilsPersonnalises" class="matdividerForcedHeight"></mat-divider>
    <!-- fin conseil -->

    <!-- option divers -->
    <div *ngIf="optionDivers?.length" class="margin40U40D">
      <span class="accent-title" translate>Option Divers</span>
    </div>
    <div *ngIf="optionDivers?.length" fxLayout="column" fxLayoutAlign="space-around">
      <div *ngFor="let opt of optionDivers ; let i = index">
        <div>
          <div class="inline-container-4" class="margin30D margin20U" fxLayout fxLayoutAlign="space-between center">
            <div>
              <span translate class="boldText">{{opt.name}}</span>
              <br>
              <span translate class="lightGreyText">{{opt.feeType}}</span>
              <br>
              <span translate class="greyText">{{opt.description}}</span>
            </div>
            <mat-slide-toggle color="primary" [checked]='optionDivers[i].checked'
              (change)='toggleChangeOptionDivers($event.checked, opt)'>
            </mat-slide-toggle>
          </div>
  
          <div *ngIf="opt.feeType === feeType.UNIT_FEE && optionDivers[i].checked" fxLayout="row"
            fxLayoutAlign="space-between center">
            <div fxFlexOffset=53>
              <span translate>Exemplaires</span>
            </div>
            <div fxLayout fxLayoutAlign="center center">
              <button mat-mini-fab class='margin-right number-control-btn number-control-btn-remove margin-left'
                (click)='numberInputChangeOptionDivers("decrement", 1, opt, 1)'>
                <mat-icon color='primary' class='position-in-center'>remove</mat-icon>
              </button>
              <span matSuffix> {{opt.examplaire}} </span>
              <button mat-mini-fab class='margin-left number-control-btn'
                (click)='numberInputChangeOptionDivers("increment", 1, opt)'>
                <mat-icon color='primary' class='position-in-center'>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <mat-divider *ngIf="companyDescriptionInfo?.company?.options?.length" class="margin-bottom" class="margin20T">
    </mat-divider>
    <!--fin option divers -->
</form>