mat-label {
  margin-bottom: 0.9rem !important;
}

.sub-text{
  font-size: 13.5px !important;
  color: #848484;
}

.title{
  font-size: 15px;
  color: #000000;
  margin-bottom: unset !important;
}

$marginLeft: 0.813rem;
$marginTop: 1em;
$marginRight: 0.813rem;
$marginBottom: 1em;
$paddingBottom: 2em;
$paddingTop: 1em;
$paddingItemRow: 1em 0;
$grayColor: #999999;
$primary: #F17082;
.general-container {
  margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  /*    margin-left: 1.688rem;*/
  width: 65%;
  @media (max-width: 960px) {
    width: 100%;
    }
}

.general-container h3 {
    margin-bottom: 7%;
}

.increase-weekend-container {
    display: flex;
    flex-direction: column;
}

.inline-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 959px) {
    .full {
        width: 100% !important;
    }
}

.inline-container-2 {
    width: 75%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.inline-container-3 {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.inline-container-4 {
    width: 100%;
    display: inline-flex;
}

.inline-container-5 {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.inline-container-6 {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.inline-container-7 {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.columns-container {
  min-height: 3.313rem;
  display: inline-flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 100%;
  margin-right: 1.5rem;
  @media screen and (max-width: 960px){
    padding-bottom: 10px;
  }
}

.case-container {
  word-break: break-all;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
    padding-left: 18px;
    padding-top: 11px;
}

.remove-button-container {
  width: 6.188rem;
  height: 3.313rem;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.remove-button-container>button {
  @media screen and (max-width: 960px) {
    width: 100%;
    background: var(--primary-color);
    color: #ffffff;
    margin-top: 5px;
  }
  width: 6.188rem;
  height: 3.313rem;
  background-color: #f5f5f5;
  font-family: Arial;
  font-size: 13.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #000000;
  border: none;
}

.period-save-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.period-calendar-option-input {
    width: 20.438rem;
    height: 3.375rem;
}

.margin-right {
    margin-right: $marginRight;
}

.margin-left {
    margin-left: $marginLeft;
}

.margin-bottom {
    margin-bottom: $marginBottom;
}

.margin-top {
    margin-top: $marginTop;
}

.number-control-btn {
    width: 2em !important;
    height: 2em !important;
    background-color: #FAFAFA;
    transition: none !important;
    box-shadow: none !important;
    border: solid 0.7px $primary;
    display: flex !important;
    justify-content: center !important;
}

// ::ng-deep .mat-button-wrapper {
//     border: solid !important;
// }

.number-control-btn-remove {
    opacity: .5;
}

.number-control-btn :disabled,
button[disabled] {
    border: solid thin $grayColor;
    opacity: .5;
}

.display-grid {
    display: grid;
    margin-top: -4px;
    margin-left: 2;
}


.on-hover-selector {
    cursor: pointer;
}

.hide {
    display: none;
}

.font-bold {
    font-weight: 500;
}

.period-variation-container {
    width: 100%;
}

mat-divider {
    width: 75%;
}

.save-button {
  width: 268px;
  height: 53px;
  color: #ffffff;
  :disabled{
    color: #000000;
  }
  @media screen and (max-width: 960px) {
    width: 100%;
  }
  /*    margin-top: 2.938rem;
      margin-bottom: 2.938rem;*/
}

.icon-disabled {
    color: $grayColor !important;
}

.hidden {
    display: none;
}

.custom-input {
    border: none;
    display: block;
    font-family: Arial;
    font-size: 15px;
    min-width: 1.875rem;
    width: 1.875rem;
    height: auto;
    background: transparent;
    -webkit-appearance: none;
    text-align: right;
    color: #000000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .mat-form-field-underline {
    display: none;
}


.custom-mat-form-field {
    width: 40px;
    text-align: right;
}

.first-title {
    font-family: Arial;
    font-size: 18.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.container-1-1 {
    display: flex;
    flex-direction: column;
}

.container-1-2 {
    width: 3.063rem;
    @media (min-width: 800px) {
        width: 3.063rem;
    }
    @media (max-width: 800px) {
        display: inline;
        justify-content: flex-end;
    }
}

.container-1-2 > mat-slide-toggle {
    margin-top: 7px;
}

.second-title {
    font-size: 15px;
    line-height: normal;
    color: #000000;
}

.title-9 {
    font-family: Arial;
    color: #000000;
    font-size: 15px;
}

.third-title {
    font-family: Arial;
    font-size: 13.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #606060;
}

.container-2 {
    align-items: center;
    margin-top: 2.063rem;
    display: inline-flex;
    width: 100%;
    @media (min-width: 800px) {
        justify-content: flex-end;
    }
}

.container-3 {
    width: 100%;
    height: 3.375rem;
    display: inline-flex;
    align-items: center;
    margin-top: 0.625rem;
}

.container-3 > input {
    height: 3.375rem;
    border-radius: 1.5px;
    border: solid 0.7px #c9c9c9;
    font-family: Arial;
    font-size: 13.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #484848;
    padding-left: 0.813rem;
    background-image: url('../../../../../../assets/icons/svg/calendar-pink.svg');
    background-position: 19.4rem 1.188rem;
    background-size: 19px;
    background-repeat: no-repeat;
    @media (max-width: 800px) {
        width: 17rem;
    }
}

.custom-divider {
    width: 100%;
    margin-top: 2.375rem;
    margin-bottom: 2.375rem;
}

.title-4 {
    font-family: Arial;
    font-size: 13.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.title-5 {
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 2.75rem;
}

.custom-margin-bottom {
    margin-bottom: 2.563rem;
}

.custom-margin-top {
    margin-top: 2.375rem;
}

.container-4 {
    width: 100%;
    margin-top: 1.875rem;
    @media (min-width: 800px) {
        display: inline-flex;
    }
    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }
}

.container-4-1 {
    display: inline-flex;
    align-items: center;
    @media (min-width: 800px) {
        width: 50%;
        justify-content: flex-start;
    }
    @media (max-width: 800px) {
        width: 100%;
        justify-content: flex-end;
    }
}

.container-4-2 {
    display: inline-flex;
    align-items: center;
    @media (min-width: 800px) {
        width: 50%;
        justify-content: flex-end;
    }
    @media (max-width: 800px) {
        width: 100%;
        margin-top: 1rem;
        justify-content: flex-end;
    }
}

.save-setting-container {
    width: 100%;
    display: inline-flex;
    @media (min-width: 800px) {
        justify-content: flex-end;
    }
    @media (max-width: 800px) {
        justify-content: flex-start;
    }
}

.button-save-setting {
    width: 11.375rem;
    height: 3.375rem;
    border-radius: 3.7px;
    background-color: #e9e9e9;
    font-family: Arial;
    font-size: 13.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: #000000;
}

.container-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.625rem;
}

.option-name-input {
  width: 18.625rem;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.option-description-input {
  margin-top: 0;
  width: 39.313rem;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.custom-radio-group {
    @media (min-width: 800px) {
        display: inline-flex;
        justify-content: space-between;
    }
    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }
}

.custom-radio-group > mat-radio-button {
    @media (max-width: 800px) {
        margin-top: 1rem;
    }
}

.container-6 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.625rem;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
    @media (min-width: 800px) {
        width: 18.5rem;
    }
    @media (max-width: 800px) {
        width: 100%;
    }
}

.container-7 {
    width: 100%;
    display: inline-flex;
    align-items: center;
    @media (min-width: 800px) {
        justify-content: flex-end;
    }
    @media (max-width: 800px) {
        justify-content: flex-end;
    }
}

.container-7-1 {
    width: 18.313rem;
    display: inline-flex;
    align-items: center;
    align-content: flex-end;
    justify-content: space-between;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}

.container-8 {
    width: 29.063rem;
    display: flex;
    @media (min-width: 800px) {
        width: 29.063rem;
        flex-direction: row;
        justify-content:space-between;
    }
    @media (max-width: 800px) {
        width: 20rem;
        display: flex;
        flex-direction: column;
    }
}

.container-8 > mat-radio-button {
    @media (max-width: 800px) {
        margin-top: 1rem;
    }
}

.container {
  width: 80%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 65px;

  @media screen and (max-width: 959px) {
    width: 98%;
    margin: auto;
  }
}

mat-error{
  justify-content: flex-start !important;
  margin-top: 20px;
}

::ng-deep {
  .description.mat-form-field-appearance-outline .mat-form-field-outline {
    height: 100% !important;
  }
}

.stepper-component .stepper.stepper {
  text-transform: capitalize !important;
}

