.container{
  width:80%;
  height: 100%;
  margin: auto;
}
.check{
  transform: translateY(-55px);
  margin-right: 0.6rem;
}
.header{
  margin: 0.6rem 0 0 0;
}

.item {
  width: calc(100%/3);
  @media screen and (max-width: 959px) {
    width: 100%;
  }
}

