<div class="container" fxLayout="column" fxLayoutAlign="center">
  <h2 translate>book your service providers securely</h2>

  <div fxLayout="row" fxLayout.lt-md="column wrap">

    <div fxLayout="row" class="item" fxFlexAlign="start start">
      <img width="50px" class="check" src="/assets/icons/svg/check.svg" alt="check_icon">
      <div fxLayout="column" fxLayoutAlign="start start">
        <h4 class="header" translate>verified providers</h4>
        <article>
          <p translate>
            <span translate>we refer exclusively to quality partners</span>.
          </p>
          <p>
            <span translate>we insure your wedding against all the unexpected</span>.
          </p>
        </article>
      </div>
    </div>

    <div fxLayout="row" class="item">
      <img width="50px" class="check" src="/assets/icons/svg/check.svg" alt="check_icon">
      <div fxLayout="column" fxLayoutAlign="start start">
        <h4 class="header">
          <span translate>secure payments</span>
        </h4>
        <article>
          <p>
            <span
              translate>we secure your transactions made on the platform until complete performance of services</span>.
          </p>
          <p>
            <span translate>you are protected against any cancellation or scam</span>.
          </p>
        </article>
      </div>
    </div>

    <div fxLayout="row" class="item">
      <img width="50px" class="check" src="/assets/icons/svg/check.svg" alt="check_icon">
      <div fxLayout="column" fxLayoutAlign="start start">
        <h4 class="header" translate>advice and follow-up</h4>
        <article>
          <p>
            <span translate>our Wedding Planner Teams accompany and advise you during the whole organization of your wedding</span>.
          </p>
          <p>
            <span translate>you are no longer alone, we are there for you</span>.
          </p>
        </article>
      </div>
    </div>


  </div>

</div>
