<div class="general-container">
    <div class="sub-container">
        <span style="font-size: 18px; font-family: Arial;" translate>The creation of your service has been taken into account. We will examine it and come back to you as soon as possible for its final validation.</span>
        <br>
        <br>
        <span style="font-size: 15px; font-family: Arial; color: #484848" translate>You can edit your information before this validation. If you would like us to review something in particular, do not hesitate to let us know via our contact page.</span>
    </div>
    <mat-divider class='custom-divider'></mat-divider>
    <button mat-raised-button color="primary" class="save-button" (click)="redirectToAdminPanel()">
        <span style="color: white" translate>Next</span>
    </button>
</div>
