<h2 *ngIf="primaryComponent" style="font-size: 18.5px !important;">{{'Decorator'|lowercase|translate|titlecase}}</h2>
<app-dynamic-form-builder [fields]="parsedCriteres" (addOption)='onAddOption($event)' *ngIf="showForm" #formBuilder></app-dynamic-form-builder>
<h2 *ngIf="showFleuristePricingComponent" style="font-size: 18.5px; color: black;">{{'Florist'|lowercase|translate|titlecase}}</h2>
<app-fleuriste-pricing *ngIf="showFleuristePricingComponent" [criteres]="fleuristePricingInitCriteres"
[primaryComponent]='false' #fleuristePricingComponent></app-fleuriste-pricing>
<button type='button' mat-flat-button color='primary'
class='submit-btn' [disabled]='!formBuilder.form.valid' (click)='formSubmitted()' *ngIf="showSubmitBtn" [ngClass]="{'hidden': !primaryComponent}">
{{'Next' | lowercase | translate | titlecase}}</button>
