section {
  height: 100%;
  padding-bottom: 2rem;
}

drag-scroll {
  height: 110%;
  width: 100%;
}

.container {
  width: 85%;
  height: 100%;
  margin: auto;
}

.image {
  height: 250px;
  object-fit: cover;
}

mat-card {
  margin: 0 10px 5px 0;
  @media screen and (max-width: 764px) {
    width: 100% !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

.btn{
  color: var(--white-color);
}


