<section>
  <div class="container" fxLayout="column" fxLayoutAlign="center">
    <h2 translate>ideas and advises</h2>

    <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
      <div>
        <mat-card fxLayout="column" fxLayoutAlign="center center">
          <img mat-card-image src="https://via.placeholder.com/300x200" alt="blog post cover">
          <mat-card-header>
            <mat-card-subtitle>
              <span translate>civil marriage</span>
            </mat-card-subtitle>
            <mat-card-title>
              <span translate>8 poems of love for your ceremony</span>
            </mat-card-title>
            <mat-card-subtitle>
              <span translate>ou have decided to organize a leique ceremony to affirm your desire to unite your destinies? Then profile it for customize it</span>...
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>

      <div style="width: 100%">
        <h3 fxLayoutAlign="center center">
          <span translate>categories</span>
        </h3>
        <mat-grid-list cols="3" rowHeight="120px">

          <mat-grid-tile fxLayout="column" fxFlexAlign="center center">
            <a routerLink="#" fxLayout="column" fxFlexAlign="center center">
              <img width="40px" class="cover" src="/assets/icons/svg/wedding-ring.svg" alt="before marriage">
              <h4 translate>before marriage</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/wedding.svg" alt="ceremony">
              <h4 translate>ceremony</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/dish.svg" alt="the reception">
              <h4 translate>the reception</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/car.svg" alt="providers">
              <h4 translate>providers</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/wedding-dress.svg" alt="bridal fashion">
              <h4 translate>bridal fashion</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/make-up.svg" alt="beauty and health">
              <h4 translate>beauty and health</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/sun-umbrella.svg" alt="honeymoon">
              <h4 translate>honeymoon</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/couple.svg" alt="after marriage">
              <h4 translate>after marriage</h4>
            </a>
          </mat-grid-tile>

          <mat-grid-tile>
            <a routerLink="#" fxLayout="column">
              <img width="40px" class="cover" src="/assets/icons/svg/cloth.svg" alt="home made">
              <h4 translate>home made</h4>
            </a>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </div>
</section>
