section{
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;
}

.container{
  width:80%;
  height: 100%;
  margin: auto;
}
.btn{
  color: var(--white-color);
}

.cover{
  margin: auto;
}

a{
  color: black;
}

a,h4{
  text-align: center;
}
