<mat-nav-list>
    <mat-list-item>
        <a matLine routerLinkActive="active" (click)='redirectTo("users")'>
            <div class="links-container">
                <div class="icon-container">
                    <mat-icon>perm_identity</mat-icon>
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Users</span>
                </div>
            </div>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLinkActive="active">
            <div class="links-container">
                <div class="icon-container">
                    <mat-icon>business_center</mat-icon>
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Services</span>
                </div>
            </div>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLinkActive="active">
            <div class="links-container">
                <div class="icon-container">
                    <img width="20px" class="icon" src="/assets/icons/svg/folder.svg">
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Booking</span>
                </div>
            </div>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLinkActive="active">
            <div class="links-container">
                <div class="icon-container">
                    <img width="20px" class="icon" src="/assets/icons/svg/copy.svg">
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Invoices</span>
                </div>
            </div>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLinkActive="active">
            <div class="links-container">
                <div class="icon-container">
                    <img width="20px" class="icon" src="/assets/icons/svg/card.svg">
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Payment</span>
                </div>
            </div>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLinkActive="active">
            <div class="links-container">
                <div class="icon-container">
                    <img width="20px" class="icon" src="/assets/icons/svg/check-list.svg">
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Pages</span>
                </div>
            </div>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLinkActive="active">
            <div class="links-container">
                <div class="icon-container">
                    <mat-icon>notifications</mat-icon>
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Notifications</span>
                </div>
            </div>
        </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLinkActive="active">
            <div class="links-container">
                <div class="icon-container">
                    <mat-icon>power_settings_new</mat-icon>
                </div>
                <div class="desc-container">
                    <span class="span-side" translate>Disconnect</span>
                </div>
            </div>
        </a>
    </mat-list-item>
</mat-nav-list>