.links-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.desc-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.span-side {
    font-weight: bold;
}