<section class="content">
  <div class="link-container">
    <a routerLink="/faq" class="link">Centre d’aide</a>
    &nbsp;
    <a routerLink="/faq/{{type}}" class="link">{{type==='provider'?'Professionnel':'Client'}}</a>
    &nbsp;
    <a routerLink="/faq/{{type}}/{{category}}" class="link">{{category?.replaceAll('-',' ')}}</a>
    &nbsp;
    <a routerLink="/faq/{{type}}/{{category}}/{{subCategory}}" class="link">{{subCategory?.replaceAll('-',' ')}}</a>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" style="margin: 0 80px">
    <app-faq-sidenav class="sidenav"></app-faq-sidenav>
    <section fxLayout="column" class="content">
      <h1>{{subCategory.replaceAll('-',' ')}}</h1>
      <ul>
        <li *ngFor="let question of questions">
          <a routerLink="/faq/{{type}}/{{category}}/{{subCategory}}/{{((question.question.replaceAll('?',' ')).trim()).replaceAll(' ','-')}}" routerLinkActive="active">
            {{question.question}} ?
          </a>
        </li>
      </ul>

    </section>
  </div>
</section>
<app-footer></app-footer>
