.checkbox{
  width: 50%;
  padding: 4px 0;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.map-info-container {
  position: relative;
}

.btn-left {
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%);
  left: 0;
}

.btn-right {
  position: absolute;
  top: 50%;
  transform: translate(-10px, -50%);
  right: 0;
}

.ico {
  transform: translateY(-20%);
}

.btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.title {
  margin-left: 2px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize
}

.icon {
  transform: translate(5px, 2px);
  font-size: 14px;
}

.address {
  font-size: 10px;
  text-align-last: center;
}

.spacer {
  flex: 1 1 0;
}

.scroll-container {
  width: 230px;
  height: 250px;
}

.image{
  height:250px;
  width: 230px;
  object-fit: cover;
}

.view-more {
  margin-bottom: 16px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: var(--primary-color)!important;
}

div.margin-top{
  display: none;
}

.bold{
//  font-weight: bold;
}

.text-wrap{
  white-space: normal;
}

.btn-container {
  height: calc(100vh - 191px);
  overflow-y: scroll !important;
  width: 95%;
  margin: auto;
  scrollbar-width: none;
  @media screen and (max-width: 1279px) {
    height: calc(100vh - 260px);
  }
  @media screen and (max-width: 960px) {
    height: calc(100vh - 460px);
  }
}

::-webkit-scrollbar {
  display: none;
}
.group-btn {
  padding: 10px 10px 1px 10px;
  width: 100%;
  background-color: #fff;
  margin: 0 !important;
}

mat-label {
  margin-bottom: 0 !important;
}

button{
  width: auto !important;
  height: auto !important;
}
