<div class='control-wrapper' fxLayout="row wrap" fxLayoutGap="10%" fxLayoutAlign="flex-start" fxLayoutGap.xs="0"
  fxLayout.xs="column" *ngIf='primaryComponent' style="width: 65%;">
  <p translate fxFlex='100%' class='mb-0 title'>{{'advantages'|lowercase|translate|capitalizeFirstLetter}}</p>
  <p translate fxFlex='100%' class='mt-0 sub-title'>{{'indicate the services you offer'|lowercase|translate|capitalizeFirstLetter}}</p>
  <div class='checkbox-wrapper' fxLayout="row wrap" fxLayoutGap="10%" fxFlex='100%'>
    <mat-checkbox [disabled]='true' [checked]='true' fxFlex='40%' class='first-checkbox checkbox-label'>{{'Lieu de réception'|lowercase|translate|capitalizeFirstLetter}}
    </mat-checkbox>
    <mat-checkbox class='checkbox-label' [disabled]='true' [checked]='true' fxFlex='40%' *ngIf="isTraiteur">
      {{'Caterer'|lowercase|translate|capitalizeFirstLetter}}</mat-checkbox>
    <mat-checkbox class='checkbox-label' [disabled]='true' [checked]='true' fxFlex='40%' *ngIf="isGateauMariage">
      {{'Gâteau mariage'|lowercase|translate|capitalizeFirstLetter}}</mat-checkbox>
    <mat-checkbox class='checkbox-label' fxFlex='40%' *ngIf="!isTraiteur" color='primary' (change)='traiteurIsChecked($event.checked)'>
      {{'Caterer'|lowercase|translate|capitalizeFirstLetter}}</mat-checkbox>
    <mat-checkbox class='checkbox-label' fxFlex='40%' *ngIf="!isGateauMariage" color='primary'
      (change)='gateauMariageIsChecked($event.checked)'>{{'Gâteau mariage'|lowercase|translate|capitalizeFirstLetter}}</mat-checkbox>
  </div>
<mat-divider style="width: 100%;margin-bottom: 1rem;"></mat-divider>
</div>
<h2 *ngIf='primaryComponent' style="width: 58%;" style="font-size: 18.5px !important;">{{'Place'|lowercase|translate|capitalizeFirstLetter}}</h2>
<app-dynamic-form-builder [fields]="parsedCriteres" (addOption)='onAddOption($event)' *ngIf="showForm" #formBuilder>
</app-dynamic-form-builder>
<h2 *ngIf="showTraiteurComponent" style="font-size: 18.5px !important; margin-top: -1rem;">{{'Caterer'|lowercase|translate|capitalizeFirstLetter}}</h2>
<app-traiteur *ngIf="showTraiteurComponent" [criteres]="traiteurInitCriteres" [primaryComponent]='false'
  #traiteurComponent></app-traiteur>
<h2 *ngIf="showGateauMariageComponent" style="font-size: 18.5px !important; margin-top: -1rem;">{{'Gâteau de mariage'|lowercase|translate|capitalizeFirstLetter}}</h2>
<app-gateau-mariage *ngIf="showGateauMariageComponent" [criteres]="gateauMariageInitCriteres" [primaryComponent]='false'
  #gateauMariageComponent></app-gateau-mariage>
<button type='button' mat-flat-button color='primary' class='submit-btn' [disabled]='!formBuilder.form.valid'
  (click)='formSubmitted()' *ngIf="showSubmitBtn" [ngClass]="{'hidden': !primaryComponent}">
  {{'Next' | lowercase | translate | capitalizeFirstLetter}}</button>
