<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2rem" class="container">
  <h2 translate class='main-title'>Avis</h2>
  <section fxLayout="column" fxLayoutGap="0.5rem">
    <mat-label class="title" translate>Gestion des avis</mat-label>
    <span translate class="sub-text">Votre expérience est précieuse pour les autres futurs mariés. Merci.</span>
  </section>
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.6rem" style="width: 100%">
    <section fxLayoutGap="1rem" fxLayout="row" fxLayoutAlign="end center" style="width: 100%;padding: 0 2rem">
      <p class="refresh" (click)="refresh()">Actualiser</p>
    </section>

    <section fxLayout="row" fxLayoutAlign="center center" style="width: 100%;" *ngIf="loading">
      <p class="loading-text">Chargement...</p>
    </section>

    <section fxLayout="row" fxLayoutAlign="center center" style="width: 100%;"
             *ngIf="reservations.length<=0 && !loading">
      <p style="font-size: 1.5rem">Vous n'avez aucune Réservation</p>
    </section>

    <section fxLayout="column" fxLayoutGap="2rem" style="width: 100%;">
      <div
        *ngFor="let reservation of reservations"
        fxLayout="column" fxLayoutAlign="center start"
        class="reservation-container">

        <app-reservation-card-avis-client
          [reservation]="reservation"
          style="width: 100%">
        </app-reservation-card-avis-client>

      </div>

    </section>

    <section
      [fxShow]="reservations.length>0"
      fxLayout="row wrap" fxLayoutAlign="center center"
      style="width: 100%;padding-top: 1rem">
      <app-paginator
        [length]="totalPage"
        [pageSize]="10"
        (page)="searchPaginated($event)"
      ></app-paginator>
    </section>
  </div>
  <br>
</div>
