.full-width {
    width: 100%;
}
.number-input{
    border: solid thin;
    padding: 0.2rem;
}
.cnl-title {
    font-size: 15px;
    color:#000;
    margin-bottom: 0 !important;
}
.mb1{
    margin-bottom: 1.2rem !important;
}