@import '../../pro-showcase.component.scss';

.panel-header {
    padding: 0 !important;
    margin-bottom: 20px;
}

.serviceTitle{
    font-size: 15px;
    line-height: normal;
    color: #000000 !important;

}
.serviceDetails{
    font-size: 13.5px !important;
    line-height: 2.28;
    color: #606060 !important;
}