<h2 *ngIf="primaryComponent" style="font-size: 18.5px !important;">{{'Videographer'|lowercase|translate|titlecase}}</h2>
<app-dynamic-form-builder [fields]="parsedCriteres" (addOption)='onAddOption($event)' *ngIf="showForm" #formBuilder></app-dynamic-form-builder>
<h2 *ngIf="showPhotographPricingComponent" style="font-size: 18.5px; color: black;">{{'Photograph'|lowercase|translate|titlecase}}</h2>
<app-photographe-pricing *ngIf="showPhotographPricingComponent" [criteres]="photographInitCriteres"
[primaryComponent]='false' #photographPricingComponent></app-photographe-pricing>
<button type='button' mat-flat-button color='primary'
class='submit-btn' [disabled]='!formBuilder.form.valid' (click)='formSubmitted()' *ngIf="showSubmitBtn" [ngClass]="{'hidden': !primaryComponent}">
{{'Next' | lowercase | translate | titlecase}}</button>
