<div id='wrapper' *ngIf="field" fxLayout="row" fxLayoutAlign="{{fxLayoutAlign}}" fxLayoutGap="{{fxLayoutGap}}" [style.margin-left]='marginLeft'
[style.width]='width'>
  <div id='here' style="width:fit-content;font-family: Arial, monospace;text-align: left;" [style.margin-left]="marginLeft">
    <div style="margin-top: 0.4rem;">
      <mat-label class='number-label'
                 *ngIf='!disableOptions'>{{numberOption.label|companyLabel | capitalizeFirstLetter}}</mat-label>
      <mat-label *ngIf='disableOptions' class='number-label'>{{numberOption.label|companyLabel | capitalizeFirstLetter}}</mat-label>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div style="margin-left: 2rem">
      <button mat-mini-fab class='number-control-btn' (click)='decrementValue()' [disabled]='!disableOptions'>
        <mat-icon color='primary' class='icon-disabled plus-minus-btn' *ngIf='!disableOptions'>remove</mat-icon>
        <mat-icon color='primary' class='plus-minus-btn' *ngIf='disableOptions'>remove</mat-icon>
      </button>
    </div>
    <div class="input-space">
      <mat-label class="number-value-unit"
      ><span *ngIf="numberOption.hourValue<10">0</span>{{numberOption.hourValue}}h<span *ngIf="numberOption.minValue<10">0</span>{{numberOption.minValue}}</mat-label>

    </div>
    <div>
        <button mat-mini-fab class='number-control-btn' (click)='incrementValue()' id="here"
        [disabled]='!disableOptions' [style.margin-right]='marginRight'>
          <mat-icon color='primary' class='icon-disabled plus-minus-btn' *ngIf='!disableOptions'>add</mat-icon>
          <mat-icon color='primary' class='plus-minus-btn' *ngIf='disableOptions'>add</mat-icon>
      </button>
    </div>
  </div>

</div>

