<div class="stepper-container">
  <div class="stepper-component">
    <mat-toolbar-row >
      <a mat-flat-button class="stepper stepper active" translate>Description</a>
      <div class="circle active"></div>
      <span class="spacer active"></span>
      <a mat-flat-button class="stepper stepper active ml_min_1" translate>Détails</a>
      <div class="circle active"></div>
      <span class="spacer active"></span>
      <a [routerLink]="['#']" mat-flat-button class="stepper" routerLinkActive="active">{{'pricing'|lowercase|translate|titlecase}}</a>
      <div class="circle"></div>
      <span class="spacer"></span>
      <a mat-flat-button class="stepper">{{'settings'|lowercase|translate|titlecase}}</a>
      <div class="circle "></div>
      <span class="spacer"></span>
      <div class="circle circle-end"></div>
      <a mat-flat-button class="stepper ml_min_2">{{'billing'|lowercase|translate|titlecase}}</a>
    </mat-toolbar-row>
  </div>
</div>
<div  style=" !important" fxLayout="column" class="container company-details" *ngIf="showComponent && companyDetailsInfo">
  <div [ngSwitch]='companyDetailsInfo.categories[0]'>
    <app-photographe #comp *ngSwitchCase='categoryLabelEnum.PHOTOGRAPHE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-photographe>
    <app-videaste #comp *ngSwitchCase='categoryLabelEnum.VIDEALISTE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-videaste>
    <app-decorateur #comp *ngSwitchCase='categoryLabelEnum.DECORATUER' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-decorateur>
    <app-fleuriste #comp *ngSwitchCase='categoryLabelEnum.FLEURISTE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-fleuriste>
    <app-bus #comp *ngSwitchCase='categoryLabelEnum.BUS' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-bus>
    <app-voiture #comp *ngSwitchCase='categoryLabelEnum.VOITURE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-voiture>
    <app-lieu #comp *ngSwitchCase='categoryLabelEnum.LIEU' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-lieu>
    <app-traiteur #comp *ngSwitchCase='categoryLabelEnum.TRAITEUR' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-traiteur>
    <app-gateau-mariage #comp *ngSwitchCase='categoryLabelEnum.GATEAU_MARIAGE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-gateau-mariage>
    <app-dj #comp *ngSwitchCase='categoryLabelEnum.DJ' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-dj>
    <app-groupe #comp *ngSwitchCase='categoryLabelEnum.GROUPE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-groupe>
    <app-musicien #comp *ngSwitchCase='categoryLabelEnum.MUSICIEN' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-musicien>
    <app-animateur-adults #comp *ngSwitchCase='categoryLabelEnum.ANIMATEUR_ADULTS' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-animateur-adults>
    <app-animateur-enfants #comp *ngSwitchCase='categoryLabelEnum.ANIMATEUR_ENFANTS' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-animateur-enfants>
    <app-feu-artifices #comp *ngSwitchCase='categoryLabelEnum.FEU_ARTIFICES' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-feu-artifices>
    <app-lachers #comp *ngSwitchCase='categoryLabelEnum.LACHERS' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-lachers>
    <app-choregraphe #comp *ngSwitchCase='categoryLabelEnum.CHOREGRAPHE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-choregraphe>
    <app-coach #comp *ngSwitchCase='categoryLabelEnum.COACH' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-coach>
    <app-officiant #comp *ngSwitchCase='categoryLabelEnum.OFFICIANT' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-officiant>
    <app-coiffure #comp *ngSwitchCase='categoryLabelEnum.COIFFURE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-coiffure>
    <app-maquillage #comp *ngSwitchCase='categoryLabelEnum.MAQUILLAGE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-maquillage>
    <app-esthetique #comp *ngSwitchCase='categoryLabelEnum.ESTHETIQUE' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-esthetique>
    <app-soin #comp *ngSwitchCase='categoryLabelEnum.SOIN' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-soin>
    <app-hebergement #comp *ngSwitchCase='categoryLabelEnum.HEBERGEMENT' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-hebergement>
    <app-faire-part #comp *ngSwitchCase='categoryLabelEnum.FAIRE_PART' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-faire-part>
    <app-voyage-noces #comp *ngSwitchCase='categoryLabelEnum.VOYAGE_DE_NOCES' [criteres]="criteres" [categories]='companyDetailsInfo.categories'></app-voyage-noces>
  </div>
</div>
