a {
  text-decoration: none;
}

.mat-h1-icon {
  font-size: 1.2em;
  margin-right: 0.5em;
}


.w98 {
  width: 98%;
}

.w45 {

  width: 45%;
}

.mat-menu-content {
  padding: 0!important;
}


// typo
h2 {
  font-weight: 500;
}
