mat-label {
  margin-bottom: 0.9rem !important;
}

.cnl-title {
  font-size: 15px;
  color:#333;
}
.cnl-sub-title {
  font-size: 15px;
  color:#000;
  margin-bottom: 0 !important;
}

.cnl-label{
  font-family: Arial, Baskerville, monospace !important;
  font-weight: 500;
  font-size: 13.5px;
  margin-bottom: 0.9375rem;
  color: #484848;
  letter-spacing: normal;
}

.toggle-dfb{
  width: 100%;
}

.ajout-btn {
  width: 30px !important;
  height: 30px !important;
  min-width: unset!important;
  padding: 0!important;
  margin: 0!important;
  margin-top: 1rem!important;
}
.add-btn-label {
  font-size: 13.5px;
  position: relative;
  bottom: 0.22rem;
}
.hide {
  display: none !important;
}
.mr-2 {
  margin-right: 2%;
}
.text-danger {
  color: #FF9800;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 13.5px;
}
