<section class="content">
<div class="link-container">
  <a routerLink="/faq" class="link">Centre d’aide</a>
</div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" class="container__card">

    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="card">
      <p class="head__title">Aide aux clients</p>
      <small class="small">Futur mariés</small>
      <a routerLink="/faq/client" class="link">Centre d'aide client</a>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="card">
      <p class="head__title">Aide aux entreprises</p>
      <small class="small">Prestataires</small>
      <a routerLink="/faq/provider" class="link">Centre d'aide professionnel</a>
    </div>


  </div>
</section>
<app-footer></app-footer>
