<div fxLayout='column' class="section4">
    <div fxLayout.lt-md='column' fxLayout='row wrap' class='column pl_4'>
        <div fxLayout='column' fxFlex='40%' fxFlex.lt-md='100%' class="text-column mr mt-text-1">
            <div class="title">Réservez les meilleurs prestataires</div>
            <div class="label">Vos futurs prestataires se trouvent sur Winwez. Filtrez parmi les services et trouvez ceux qui sont compatibles avec vos attentes et votre budget.</div>
        </div>
        <img src="/assets/images/section4_1.png" alt="section4" class="img-column">
    </div>
    <div fxLayout.lt-md='column' fxLayout='row wrap' class='column pl_4'>
        <img src="/assets/images/section4_2.png" alt="section4" class="img-column mr">
        <div fxLayout='column' fxFlex='40%' fxFlex.lt-md='100%' class="text-column mt-text-2">
            <div class="title">Prestataires qualifiés et vérifiés</div>
            <div class="label">Les clients évaluent les prestataires après chaque réservation afin de renforcer la confiance et la réputation au sein de la communauté Winwez. Avant de réserver un prestataire, vous pouvez consulter les évaluations et commentaires laissés par ses clients précédents.</div>
        </div>
    </div>
    <div fxLayout.lt-md='column' fxLayout='row wrap' class='column pl_4'>
        <div fxLayout='column' fxFlex='40%' fxFlex.lt-md='100%' class="text-column mr mt-text-3">
            <div class="title">Simulez vos devis instantanément</div>
            <div class="label">Simulez en toute simplicité le coût réel de votre prestation de service puis réservez le prestataire en toute sécurité.</div>
        </div>
        <img src="/assets/images/section4_3.png" alt="section4" class="img-column">
    </div>

</div>