<div style="width: 95%;margin: auto">

  <form fxLayout="column" [formGroup]="filterForm" (ngSubmit)="submit()"
        enctype="multipart/form-data">

    <div
      fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start space-evenly"
      class="btn-container" [ngClass.lt-md]="{'btn-container--hidden-search-bar':hiddenSearchbar}">

      <div fxLayout="column">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between start" class="spacing spacing-common">
            <section fxLayout="column">
              <mat-label class="bold" translate>verified providers</mat-label>
              <span translate>a selection of providers verified according to quality criteria</span>
            </section>
            <mat-slide-toggle style="float: right" color="primary"
                              formControlName="verifiedProvider"></mat-slide-toggle>
          </div>
          <mat-divider></mat-divider>
        </div>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between start" class="spacing spacing-common">
            <section fxLayout="column">
              <mat-label class="bold" translate>100% secure services without down payment</mat-label>
              <span translate>professionals who agree to receive the full payment after completion of the service</span>
            </section>
            <mat-slide-toggle style="float: right" color="primary"
                              formControlName="securePayment"></mat-slide-toggle>
          </div>
          <mat-divider [fxShow]="showMore"></mat-divider>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between start" class="spacing spacing-common"
             [fxShow]="showMore">
          <section fxLayout="column">
            <mat-label class="bold" translate>top rated providers</mat-label>
            <span translate>display only the providers with the best scores, ie a score higher than 3/5</span>
          </section>
          <mat-slide-toggle color="primary" formControlName="topRatedProviders"></mat-slide-toggle>
        </div>

        <a class="view-more" (click)="showMore=!showMore">
          <span translate [fxHide]="showMore">view more questions</span>
          <mat-icon style="transform: translateY(30%)"
                    [fxHide]="showMore">keyboard_arrow_down</mat-icon>

          <span translate [fxShow]="showMore">view less questions</span>
          <mat-icon style="transform: translateY(30%)"
                    [fxShow]="showMore">keyboard_arrow_up</mat-icon>
        </a>
        <mat-divider></mat-divider>

      </div>

      <div fxLayout="column" formGroupName="categories">
        <mat-label translate style="font-weight: bold">Proposed services</mat-label>
        <br>
        <section fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-checkbox color="primary" class="checkbox" formControlName="voiture">
            <span translate>car</span>
          </mat-checkbox>
          <mat-checkbox color="primary" class="checkbox" formControlName="bus">
            <span translate>bus</span>
          </mat-checkbox>
        </section>
        <br>
        <mat-divider></mat-divider>
      </div>

      <div fxLayout="column" *ngIf="voiture" formGroupName="voiture_voitures">
        <mat-label translate style="font-weight: bold">categories</mat-label>
        <br>
        <section fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-checkbox color="primary" class="checkbox" formControlName="voitureHautDeGamme">
            <span translate>premium car</span>
          </mat-checkbox>
          <mat-checkbox color="primary" class="checkbox" formControlName="voitureDeCollection">
            <span translate>classic car</span>
          </mat-checkbox>
          <mat-checkbox color="primary" class="checkbox" formControlName="limousine">
            <span translate>limousine</span>
          </mat-checkbox>
          <mat-checkbox color="primary" class="checkbox" formControlName="voitureSportive">
            <span translate>sports car</span>
          </mat-checkbox>
        </section>
        <br>
        <mat-divider></mat-divider>
      </div>

      <div fxLayout="column" *ngIf="voiture">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1rem" class="spacing">
          <section fxLayout="column">
            <mat-label class="bold" translate>driver</mat-label>
            <span translate>providers that offers the possibility of renting with driver</span>
          </section>
          <mat-slide-toggle formControlName="voiture_chauffeur" color="primary"></mat-slide-toggle>
        </div>
        <mat-divider></mat-divider>
      </div>


      <div fxLayout="column" *ngIf="bus" formGroupName="bus_bus">
        <mat-label class="bold" translate>bus</mat-label>
        <br>
        <mat-label translate class="bold">categories</mat-label>
        <br>
        <section fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-checkbox color="primary" class="checkbox" formControlName="van">
            <span translate>van</span>
          </mat-checkbox>
          <mat-checkbox color="primary" class="checkbox" formControlName="microbus">
            <span translate>microbus</span>
          </mat-checkbox>
          <mat-checkbox color="primary" class="checkbox" formControlName="minibus">
            <span translate>minibus</span>
          </mat-checkbox>
          <mat-checkbox color="primary" class="checkbox" formControlName="midibus">
            <span translate>midibus</span>
          </mat-checkbox>

        </section>
        <br>
        <mat-divider></mat-divider>
      </div>

      <div fxLayout="column" *ngIf="bus">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1rem" class="spacing">
          <section fxLayout="column">
            <mat-label class="bold" translate>driver</mat-label>
            <span translate>providers that offers the possibility of renting with driver</span>
          </section>
          <mat-slide-toggle formControlName="bus_chauffeur" color="primary"></mat-slide-toggle>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>



    <div
      fxFlexAlign.lt-md="center" fxLayout="row wrap"  fxLayout.lt-md="column" fxLayoutAlign="end center" fxLayoutGap="1rem"
      class="group-btn full"
    >
      <button class="form-input full" mat-raised-button type="button" (click)="cancelForm()">
        <span translate>cancel</span>
      </button>
      <button class="form-input full"  mat-raised-button type="button" (click)="reset()">
        <span translate>delete selected filters</span>
      </button>
      <button class="form-input full"  mat-raised-button color="primary" type="submit">
        <span style="color: white" translate>show results</span>
      </button>
    </div>
  </form>

</div>
