section {
  background-color: var(--grey-color);
  height: 100%;

  padding-bottom: 1rem;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.btn {
  color: var(--white-color);
}

.icon {
  transform: translateY(10px);
}
