<section>
  <div class="container" fxLayout="column" fxLayoutAlign="center">
    <h2 translate>
      <img width="45px" class="icon" src="/assets/icons/svg/euro.svg" alt="check_icon">
      wedding loan
    </h2>

    <div fxLayout="column" fxLayoutAlign="center center">

      <h2 class="header" style="font-weight: 500;" translate>our financing solution allows you to cover your expenses on
        the platform</h2>
      <p>
        <span translate>all costs incurred for reserving your service providers on the platform may be subject to
          financing</span>.
      </p>
      <a class="btn" mat-flat-button color="primary" routerLink="">
        <span translate>simulate my loan</span>
      </a>
      <br>
    </div>
  </div>
</section>
