&nbsp;
<mat-card>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <div>
          <p fxLayoutAlign="center center" fxLayout="row wrap">
            <span translate>login with</span>
            <a routerLink="#" (click)="loginSocial('facebook')">&nbsp;Facebook&nbsp;</a>
            <span translate>or</span>
            <a routerLink="#" (click)="loginSocial('google-oauth2')">&nbsp;Google</a>
          </p>
        </div>

        <mat-divider [inset]="true"></mat-divider>

        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-divider [inset]="true"></mat-divider>
          <h3 class="or" translate>or</h3>
          <mat-divider [inset]="true"></mat-divider>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-around space-around">

          <div>
            <mat-form-field class="form-input" appearance="outline">
              <input matInput placeholder="{{'email'|translate}}" type="email" formControlName="email">
              <img width="15px" matSuffix class="icon" src="/assets/icons/svg/user.svg">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="form-input" appearance="outline">
              <input matInput type="password" placeholder="{{'password'|translate}}" formControlName="password">
              <img width="15px" matSuffix class="icon" src="/assets/icons/svg/key.svg">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="form-input" appearance="outline">
              <input matInput placeholder="{{'confirm Password'|translate}}" formControlName="confirmPassword"
                     type="password">
              <img width="15px" matSuffix class="icon" src="/assets/icons/svg/key.svg">
            </mat-form-field>
          </div>

          <div>
            <mat-radio-group formControlName="role" aria-label="Selectioner votre role" color="primary" fxLayout="row" fxLayoutGap="3px">
              <mat-radio-button value="provider">
                <span translate>im a professional</span>
              </mat-radio-button>
              <mat-radio-button value="client">
                <span translate>i am future married</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div>
            <mat-checkbox formControlName="conditions" color="primary">
              <span translate>i have read and agree to</span>&nbsp;
              <a [routerLink]="['auth','signup']">
                <span translate>the terms of service</span>
              </a>
            </mat-checkbox>
          </div>

          <br>
          <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="signupForm.invalid">
            <span translate>create your account</span>
          </button>

          <p class="text-center">
            <a [routerLink]="['/auth/login']" translate>access your account</a>
          </p>

        </div>
      </form>
    </mat-card-content>
</mat-card>
