<div fxLayout='row wrap' fxLayout.lt-md='column-reverse' fxLayoutAlign='start start' fxLayoutAlign.lt-md='end start'
class="wrapper pl-1 pt">
    <div class="text-col" fxLayout='column' fxLayoutAlign='start start' fxLayoutAlign.lt-md='center center'
    fxFlex='38%' fxFlex.lt-md='100%'>
        <div class="title">Premiers pas avec la version bêta de la plateforme Winwez dédiée aux partenaires</div>
        <div class="sec-title mb-1">Présentation</div>
        <div class="text mb-1">Bienvenue dans la version bêta de Winwez, réservée aux prestataires et aux testeurs de confiance.</div>
        <div class="text mb-1">Cette plateforme aide les entreprises à innover grâce à des fonctionnalités intelligentes qui fluidifient, automatisent et réduisent considérablement les tâches redondantes tel que la prospection de nouveaux clients, la création de devis, le suivi des demandes clients, la facturation des services, la gestion des impayés et bien plus encore.</div>
        <div class="text mb-1">Cette version bêta vous permet de tester l’outil et vous aide à préparer l’intégration de votre organisation et services à la plateforme.</div>
        <div class="text mb-1">Aussi, l'un des objectifs de cette version bêta est de recueillir vos commentaires et d'identifier les aspects qui nécessitent notre attention afin d’améliorer la plateforme avant la version finale.</div>
        <div class="text mb-1">Vos commentaires et idées sont les bienvenus sur la façon d'améliorer la plateforme, car nous l'améliorons continuellement.</div>
        <div class="text mb-1">Après mise en place de la version finale de la plateforme, vos services seront disponibles et ouverts à la réservation par nos clients.</div>
        <div class="text mb-1">Merci pour votre soutien !</div>
        <a class="text mb-1 link" routerLink=''>En savoir plus</a>
    </div>
    <div class="img-col" fxLayout='column' fxFlex='58%' fxFlex.lt-md='100%'>
        <img src="/assets/images/home-beta.png" alt="beta img">
    </div>
</div>
<app-footer></app-footer>