.wrapper {
    font-family: Arial;
}
@media screen and (max-width: 3600px) {
    .pl-1 {
        padding-left: 1rem;
    }
    .pt {
        padding-top: 5.875rem;
    }
    .mb-1 {
        margin-bottom: 1rem;
    }
    .title {
        font-size: 33.5px;
        text-align: left;
        color: #000000;
        margin-bottom: 3.6875rem;
    }
    .sec-title {
        font-size: 17.5px;
        font-weight: bold;
        color: #000000;
    }
    .text {
        font-size: 16px;
        line-height: 1.59;
        text-align: justify;
        color: #000000;
    }
    .link {
        color: #ff8697 !important;
        text-decoration: underline;
    }
    .img-col {
        img {
            width: 906px;
            height: 641px;
        }
    }
}
@media screen and (max-width: 960px) {
    .pl-1 {
        padding-left: 0rem;
    }
    .pt {
        padding-top: 1.875rem;
    }
    .title {
        // width: 540px;
        text-align: center;
    }

    .img-col {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .text-col {
      padding-right: 1rem;
    padding-left: 1rem;
    }
}
