.status {
  height: 3.6rem;
  min-width: 5rem;
  color: white;
}

.form-input {
  width: 98%;
}

.date{
  width:50%;
}


a {
  color: black;
  text-decoration: underline;
}

@media screen and (max-width: 959px) {
  .full {
    width: 100% !important;
  }
  .form-input {
    min-width: 200px;
  }

  .date{
    width:100%;
  }
}

.container {
  width: 80%;
  margin-left: 1rem;
  margin-right: 1rem;
  @media screen and (max-width: 959px) {
    width: 98%;
    margin: auto;
  }
}

mat-label {
  margin-bottom: 0.9rem !important;
}
